<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Comments Page</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

   <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


</head>

<body>

   <table width="90%" align="center">
      <tr><th>
         <img src="data:image/png;base64, {{thumbnail.decode()}}" >
      </th></tr>
   </table>
   <table width="90%" align="center">
      <tr><th>Comment</th><th>Commentor</th></tr>
        {% for review in comments %}
         <tr>
            <td width="70%">{{review['comment']}}</td>
            <td width="5%">{{review['commentor']}}</td>
         </tr>

       {% endfor %}
   </table>
</div>



</body>

</html>
