{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Search</h1>

    <div class="form">
        <form action="/review" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Search">
        </form>
    </div>

    <p>
    please provide one of the below channel in above field and click Search
    <ul>
        <li>
    For Krish nail channel Enter https://www.youtube.com/user/krishnaik06
        </li>
        <li>
    For My SirG channel Enter https://www.youtube.com/user/saurabhexponent1
        </li>
        <li>
    For Hitesh channel Enter https://www.youtube.com/c/HiteshChoudharydotcom
        </li>
        <li>
    For Telusko channel Enter https://www.youtube.com/user/javaboynavin
        </li>
    </ul>

</div>
{% endblock %}